<div class="edu-course-widget widget-category">
  <div class="inner">
    <h5 class="widget-title">Filter by Categories</h5>
    <div class="content">
    <% Category.select(:name).each do |category| %>
      <div class="edu-form-check">
        <%= link_to category.name, courses_path(category: category.name) %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<div class="edu-course-widget widget-instructor">
  <div class="inner">
    <h5 class="widget-title">Speaker</h5>
    <div class="content">
    <% Speaker.select(:full_name).each do |speaker| %>
        <%= link_to speaker.full_name, courses_path(speaker: speaker.full_name) %>
    <% end %>
    </div>
  </div>
</div>