<a class="btn btn-whatsapp" target="_BLANK" href="https://api.whatsapp.com/send?phone=6281284315009&text=Hai%20Kara%2C%20mau%20tau%20soal%20info%20kelas%20Hara%20dong."><i class="icon-phone"></i> Hubungi Admin</a>
<!-- Start Footer Area  -->
<footer class="edu-footer bg-color-light-dark">
	<div class="copyright-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner text-center">
							<p class="text-white">Copyright 2022 <a href="#" class="text-white">Hara Academy</a> - All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer Area  -->