<a class="btn btn-whatsapp" target="_BLANK" href="https://api.whatsapp.com/send?phone=6281284315009&text=Hai%2C%20terima%20kasih%20telah%20menghubungi%20Hara%20Academy.%20Kamu%20akan%20terhubung%20dengan%20Kara(Admin%20Hara%20Academy).%20Kara%20akan%20segera%20menjawab%20pertanyaan%20kamu.%20(Jam%20operasional%20setiap%20hari%20dari%20jam%208%20pagi%20-%206%20sore)">Kontak Admin</a>
<!-- Start Footer Area  -->
<footer class="edu-footer bg-color-light-dark">
	<div class="copyright-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner text-center">
							<p class="text-white">Copyright 2022 <a href="#" class="text-white">Hara Academy</a> - All Rights Reserved</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer Area  -->