<div class="edu-breadcrumb-area pt-4">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-white"><%= link_to "Hara Academy", root_path %></li>
        <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
      </ol>
    </nav>
  </div>
</div>

<div class="bg-color-dark pt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="about-content">
                  <div class="section-title section-center">
                    <h4 class="title pb-5">About Us</h4>
                    <h2 class="title">We Provide Best <span class="color-secondary">Education</span> Services For You.</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                    <p>Magna aliquaenim ad minim veniam quis nostrud exercitation ullamco laborisLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius tempor incididunt labore.</p>
                  </div>
                  <div class="about-mission pt-4">
                    <div class="single-item text-center">
                      <div class="content">
                        <h4 class="title">Our Mission</h4>
                        <p>Magna aliquaenim minim quis nostrud exercitation ulamco labor is Lorem ipsum.</p>
                      </div>
                    </div>
                    <div class="single-item pt-4">
                      <div class="content text-center">
                        <h4 class="title">Our Vision</h4>
                        <p>Magna aliquaenim minim quis nostrud exercitation ulamco labor is Lorem ipsum.</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>