<div class="edu-breadcrumb-area pt-4">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-white"><%= link_to "Hara Academy", root_path %></li>
        <li class="breadcrumb-item text-white active" aria-current="page">About Us</li>
        <li class="breadcrumb-item text-white active" aria-current="page">
          <a target="_BLANK" href="https://api.whatsapp.com/send?phone=6281284315009&text=Hai%20Kara%2C%20mau%20tau%20soal%20info%20kelas%20Hara%20dong.">Hubungi admin</a>
       </li>
      </ol>
    </nav>
  </div>
</div>

<div class="bg-color-dark pt-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="about-content">
                  <div class="section-title section-center">
                    <h2 class="title pb-5">About Us</h2>
                    <h4 class="title">Hara Academy is a platform for learning how to be an <span class="color-secondary">entrepreneur</span> through unique stories.</h4>
                    <span class="shape-line"><i class="icon-19"></i></span>
                    <p>Entrepreneurship is a journey full of colours. Each entrepreneur has their own unique stories.
Here in Hara Academy, we all learn together and encourage each other. We believe that YOU can be an entrepreneur and WE are here for you.
</p>
                  </div>
                  <div class="about-mission pt-4">
                    <div class="single-item text-center">
                      <div class="content">
                        <h4 class="title">Our Mission</h4>
                        <p>Hara Academy’s mission is to provide flexible and effective entrepreneur skill development for every individual.</p>
                      </div>
                    </div>
                    <div class="single-item pt-4">
                      <div class="content text-center">
                        <h4 class="title">Our Vision</h4>
                        <p>Hara Academy was founded in 2022 with a vision of providing life-transforming learning experiences to be an entrepreneur through stories and discussions where learners would be able to learn directly from previous entrepreneurs. </p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>